* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    text-decoration: none;
}
/*Ajuste do body*/
body {
    /*cor hexa do background-image: #148a5a*/
    background-image: url(./assets/wave.png);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 145%;
}

/*ajuste logo*/
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#cabecalho .logo {
    height: 5vh;
}
#cabecalho .shopifyTitle {
    color: white;
}
/*Ajuste Title*/
#title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
/*Ajuste inputButtonP*/
#inputButtonP {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}
#inputButtonP .inputBu {
    display: flex;
    justify-content: space-evenly;
    width: 43vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#inputButtonP .inputBu input{
    height: 5.3vh;
    width: 25vw;
    border-radius: 2px;
    border-style: none;
}
#inputButtonP .inputBu button{
    height: 5.6vh;
    width: 10vw;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 2px;
}
#inputButtonP p {
    text-align: center;
    width: 40vw;
    font-size: 12px;
    margin-top: 3vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
/*Ajuste da imagem central*/
#img {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    height: 36vh;
}
/*Ajuste Description*/
#description {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}
#description div {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
#description span {
    font-size: 40px;
    color: #148a5a;
}
#description h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#description p {
    display: flex;
    text-align: left;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1vh;
}
/*Ajuste partners*/
#partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 10vh;
}
#partners .line {
    border: 1px solid #bdbdbd;
    width: 70vw;
}
/*Ajuste paragraph final*/
#paragraphFinal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3vh;
    margin-bottom: 10vh;
}
#paragraphFinal h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 20px;
    width: 38vw;
}
#paragraphFinal p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}